<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
      integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
      crossorigin="anonymous"
    ></script>

    <title>Review aggregator</title>
  </head>
  <body>
    <div class="container">
      <div class="content-wrapper">
        <div class="header">
          <a href="/">SteamReviews+</a>
          <p>header - site name + search bar</p>
          <form method="GET">
            <input
              id="searchBox"
              name="g"
              placeholder="Search.."
              hx-get="/search/results"
              hx-trigger="keyup changed delay:400ms"
              hx-target=".main-content"
              hx-push-url="true"
            />
          </form>
        </div>
        <div class="main-content">
          <p>Welcome to SteamReviews+ a review aggregator!</p>
        </div>

        <div class="footer-links">
          <p>contains links to other pages</p>
          <a
            hx-get="/about"
            hx-target=".main-content"
            hx-swap="innerHTML"
            hx-push-url="true"
            >About</a
          >
          <a
            hx-get="/about"
            hx-target=".main-content"
            hx-swap="innerHTML"
            hx-push-url="true"
            >Contact</a
          >

          <a
            hx-get="/privacy"
            hx-target=".main-content"
            hx-swap="innerHTML"
            hx-push-url="true"
            >Privacy</a
          >
        </div>
        <div class="footer">
          <p>footer - contains copyright + disclaimers</p>
        </div>
      </div>
    </div>
  </body>
</html>
